.cds--footer {
   

  .cds--footer__content {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    align-items: center;
  }
  
  .cds--footer__copyright {
    margin-bottom: 1rem;
  }
  
 
  }