<footer class="cds--footer">
  <div class="cds--footer__content">
    <p class="cds--footer__copyright">
      &copy; 2025 Your Company. All rights reserved.
    </p>
    <nav>
      <ul class="cds--footer__nav">
        <li class="cds--footer__nav-item">
          <a class="cds--footer__nav-link" href="/privacy">Privacy</a>
        </li>
        <li class="cds--footer__nav-item">
          <a class="cds--footer__nav-link" href="/terms">Terms</a>
        </li>
        <li class="cds--footer__nav-item">
          <a class="cds--footer__nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
