<section class="my-4 space-y-4">
  <div class="font-semibold">
    {{ loading? '': `${totalCount} packages found`}}
  </div>
  <cds-structured-list class="results-list" [skeleton]="loading">
    @for (packageEntry of packageEntries; track $index) {
      <cds-list-row>
        <cds-list-column>
          <div>
            <h5>
              <a
                class="font-semibold text-xl"
                cdsLink
                [href]="'packages/' + packageEntry.package.name"
                >{{ packageEntry.package.name }}</a
              >
            </h5>
            <div>{{ packageEntry.package.description }}</div>
          </div>
          <div>
            @for (keyword of packageEntry.package.keywords; track $index) {
              @if ($index < 5) {
                <cds-tag status="info" class="rounded first:ml-0">
                  {{ keyword }}
                </cds-tag>
              }
            }
            <div>
              <span class="text-sm pr-1">Publisher:</span>
              <a
                class="font-semibold mt-4"
                cdsLink
                [href]="
                  'https://www.npmjs.com/~' +
                  packageEntry.package.publisher.username
                "
                target="_blank"
                >{{ packageEntry.package.publisher.username }}
              </a>
            </div>
          </div>
        </cds-list-column>

        <cds-list-column>
          <span class="">
            <div>Latest: <span class="font-semibold">{{ packageEntry.package.version }}</span></div>
            <div class="flex items-center gap-2">
              Updated {{ fromNow(packageEntry.updated) }}
            </div>
          </span>
        </cds-list-column>

        <cds-list-column>
          <span class="">
            <div class="flex items-center gap-2">
              <Icon cdsIcon="download" size="16"></Icon>
              <span class="font-semibold">{{ packageEntry.downloads.monthly.toLocaleString() }}</span>
            </div>
          </span>
        </cds-list-column>
      </cds-list-row>
    }
  </cds-structured-list>
</section>
