.results {
  margin-top: 0px;
  margin: 12px;

  .results-count {
    margin: 12px;
  }
}

.npm {
  &-search--tag {
    margin-left: 0px;
    border-radius: 5px;
  }
  &--list {
    &--column {
      &__last {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
      }
    }
  }
}

.cds--structured-list-td {
  padding: 1rem 0.5rem;
}
