.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  .search-input {
    width: 100%;

  
  }
  .search-npm{
    font-size: 30px;
    font-weight: bold;
  }
}
.search-hint {
  font-size: 10px;
  margin-top: 4px;
  margin-left: 85px;
}
