<section >
  <div class="flex items-center gap-6 w-full">
    <h5><a cdsLink routerLink="/" class="text-2xl font-bold">NPM</a></h5>
    <div class="flex-1">
      <cds-search
        [placeholder]="'Search packages'"
        [autocomplete]="'on'"
        [size]="'lg'"
        [value]="searchTerm"
        (valueChange)="onSearch($event)"
        [fluid]="false"
        [expandable]="false"
      ></cds-search>
      <div class="text-xs mt text-gray-600">
        {{
          searchTerm.length <= 2
            ? "Type minimum 3 chars to begin search"
            : "&nbsp;"
        }}
      </div>
      </div>
  </div>
    

</section>
