.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  .search-input {
    width: 100%;

    .search-hint {
      font-size: 10px;
      margin-top: 4px;
    }
  }
}
